<div class="d-flex items-center gap-2">
  <app-settings-sidebar></app-settings-sidebar>

  <section class="bg-white p-4 flex-grow-1">
    <div class="border-bottom mb-4 pb-2">
      <span class="section-title text-black">Notifications</span>
    </div>

    <div class="company-form-container">
      <form [formGroup]="notificationForm" (ngSubmit)="sendNotification()" class="needs-validation">

        <div class="row gy-3 mb-3">
          <div class="col-md-6">
            <label for="vapidKey" class="form-label">Firebase Public VAPID Key (Key Pair) <span
                class="text-danger">*</span></label>
            <input id="vapidKey" formControlName="vapidKey" type="text" class="form-control bg-white" />
            <div *ngIf="notificationForm.get('vapidKey')?.invalid && notificationForm.get('vapidKey')?.touched"
              class="text-danger">
              VAPID Key is required.
            </div>
          </div>

          <div class="col-md-6">
            <label for="apiKey" class="form-label">Firebase Api Key <span class="text-danger">*</span></label>
            <input id="apiKey" formControlName="apiKey" type="text" class="form-control bg-white" />
            <div *ngIf="notificationForm.get('apiKey')?.invalid && notificationForm.get('apiKey')?.touched"
              class="text-danger">
              API Key is required.
            </div>
          </div>
        </div>

        <div class="row gy-3 mb-3">
          <div class="col-md-6">
            <label for="authDomain" class="form-label">Firebase Auth Domain <span class="text-danger">*</span></label>
            <input id="authDomain" formControlName="authDomain" type="text" class="form-control bg-white" />
            <div *ngIf="notificationForm.get('authDomain')?.invalid && notificationForm.get('authDomain')?.touched"
              class="text-danger">
              Auth Domain is required.
            </div>
          </div>

          <div class="col-md-6">
            <label for="projectId" class="form-label">Firebase Project Id <span class="text-danger">*</span></label>
            <input id="projectId" formControlName="projectId" type="text" class="form-control bg-white" />
            <div *ngIf="notificationForm.get('projectId')?.invalid && notificationForm.get('projectId')?.touched"
              class="text-danger">
              Project Id is required.
            </div>
          </div>
        </div>

        <div class="row gy-3 mb-3">
          <div class="col-md-6">
            <label for="storageBucket" class="form-label">Firebase Storage Bucket <span
                class="text-danger">*</span></label>
            <input id="storageBucket" formControlName="storageBucket" type="text" class="form-control bg-white" />
            <div
              *ngIf="notificationForm.get('storageBucket')?.invalid && notificationForm.get('storageBucket')?.touched"
              class="text-danger">
              Storage Bucket is required.
            </div>
          </div>

          <div class="col-md-6">
            <label for="messagingSenderId" class="form-label">Firebase Message Sender Id <span
                class="text-danger">*</span></label>
            <input id="messagingSenderId" formControlName="messagingSenderId" type="text"
              class="form-control bg-white" />
            <div
              *ngIf="notificationForm.get('messagingSenderId')?.invalid && notificationForm.get('messagingSenderId')?.touched"
              class="text-danger">
              Messaging Sender Id is required.
            </div>
          </div>
        </div>

        <div class="row gy-3 mb-3">
          <div class="col-md-6">
            <label for="appId" class="form-label">Firebase App Id <span class="text-danger">*</span></label>
            <input id="appId" formControlName="appId" type="text" class="form-control bg-white" />
            <div *ngIf="notificationForm.get('appId')?.invalid && notificationForm.get('appId')?.touched"
              class="text-danger">
              App Id is required.
            </div>
          </div>

          <div class="col-md-6">
            <label for="measurementId" class="form-label">Firebase Measurement Id <span
                class="text-danger">*</span></label>
            <input id="measurementId" formControlName="measurementId" type="text" class="form-control bg-white" />
            <div
              *ngIf="notificationForm.get('measurementId')?.invalid && notificationForm.get('measurementId')?.touched"
              class="text-danger">
              Measurement Id is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image <span class="text-danger">*</span></label>
          <input id="image" type="file" (change)="onFileSelected($event)" class="form-control bg-white" />
          <div *ngIf="imageFileError" class="text-danger">
            {{ imageFileError }}
          </div>
          <div *ngIf="notificationForm.get('image')?.invalid && notificationForm.get('image')?.touched"
            class="text-danger">
            Image is required.
          </div>
        </div>

        <div class="d-flex gap-3 mt-4">
          <button type="submit" class="btn btn-danger px-4 py-2">Save</button>
        </div>
      </form>
    </div>
  </section>
</div>
