@import '../../../../../assets/styles/main';
@include radio-label(#F458591F, var(--red-color), #CCCCCC4D, transparent);

button.save {
  @include submit-button(var(--red-color));
}

button.close {
  @include close-button(var(--red-color));
}

.text-danger,
.invalid-feedback {
  color: var(--red-color) !important;
}

input {
  border: 1px solid #CCCCCC4D !important;
  height: 40px;
}

textarea {
  height: 70px;
}

select {
  outline: none !important;
}

select.form-select option:checked {
  background-color: var(--red-color) !important;
}

.map {
  background-color: #FEEEEE;
  width: 48px;
  height: 30px;
  padding-left: 10px; /* 2.5 * 4px */
  padding-right: 10px; /* 2.5 * 4px */
  padding-top: 4px; /* 1 * 4px */
  padding-bottom: 4px; /* 1 * 4px */
  border-radius: 4px;
  position: absolute;
  right: 0.5rem; /* 0.5 * 16px */
  top: 50%;
  transform: translateY(-50%);
}
