.h5 {
  font-size: 20px;
}

.text-danger {
  color: #F45859 !important;
}

.btn-danger {
  background-color: #F45859 !important;
}

button {
  width: 177px;
  height: 48px;
  border-radius: 24px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: 1px solid #CCCCCC4D !important;
  height: 40px;
}

textarea {
  height: 70px;
}
