<!-- <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb> -->


<section class="flex w-full overflow-x-auto min-w-fit">
  <!-- Sidebar -->
  <div class="flex flex-col justify-between bg-white md:w-[275px] w-fit overflow-y-auto"
    [ngClass]="{'sidebar': true, 'closed': !isSidebarOpen}">
    <div class="p-4 pb-6">
      <ul class="space-y-1">
        <li *ngFor="let item of menuItems">
          <!-- Render header if the type is 'header' -->
          <p *ngIf="item.type === 'header'" class="text-[#555457] font-medium text-[20px] m-4">
            {{ item.name }}
          </p>

          <!-- Render link if the type is 'link' and component is defined -->
          <a *ngIf="item.type === 'link' && item.name" (click)="loadComponent(item.name)"
            class="flex gap-2 items-center rounded-lg px-4 py-2 text-sm font-medium cursor-pointer"
            [ngClass]="{'bg-[#F458591F] text-[#F45859]': selectedName === item.name ||  selectedName === item.name + ' Details', 'hover:bg-[#CCCCCC4D]': true}">
            <!-- Icon component -->
            <div class="group">
              <div class="relative md:hidden">
                <span class="tooltip-text group-hover:opacity-100">{{item.name}}</span>
              </div>
              <app-icon [iconName]="item.iconName"
                [color]="selectedName === item.name || selectedName === item.name + ' Details' ? '#F45859' : '#818181'"></app-icon>
            </div>
            <span class="md:inline hidden">{{ item.name }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Main Component Area -->
  <div class="flex-1 p-4 pt-0">
    <ng-container *ngIf="selectedName">

    </ng-container>
  </div>

</section>
